/**
 * User defined CSS
 */

marker.accent {
    /**
     * accent
     * *abc*
     * <marker class="accent">abc</marker>
     */

    color: hsla(230, 60%, 70%, 1);
    font-style: unset;
    font-weight: 400;
    text-decoration: unset;
    background-color: unset;
}

marker.bold {
    /**
     * bold
     * **abc**
     * <marker class="bold">abc</marker>
     */

    color: hsla(130, 80%, 60%, 1);
    font-style: unset;
    font-weight: 700;
    text-decoration: unset;
    background-color: unset;
}

marker.highlight {
    /**
     * highlight
     * ==abc==
     * <marker class="highlight">abc</marker>
     */

    color: hsla(35, 100%, 45%, 1);
    font-style: unset;
    font-weight: unset;
    text-decoration: unset;
    background-color: hsla(45, 100%, 75%, 1);
}
