/**
* Default AnkiMarker CSS
*
* This file is always loaded. But loaded before the 'user.css' file. To
* overwrite 'anki-marker', re-define it in [addon-dir]/user_files/user.css.
*/

anki-marker {
  margin: 0;
  padding: 0;
  display: inline;
}
