/**
* User defined CSS.
*/

:root {

    --color-accent: hsla(230, 60%, 70%, 1.0);
    --color-accent-light: hsla(230, 70%, 85%, 1.0);
    --color-accent-gray: hsla(0, 0%, 80%, 1.0);

    --color-masculine: hsla(210, 90%, 75%, 1.0);
    --color-feminine: hsla(334, 90%, 75%, 1.0);

    /* *abc* : accent */
    --mark-accent-text-color: var(--color-accent);
    --mark-accent-font-style: unset;
    --mark-accent-font-weight: 400;
    --mark-accent-text-decoration: unset;
    --mark-accent-background-color:unset;

    /* **abc** : bold */
    --mark-bold-text-color: var(--color-accent);
    --mark-bold-font-style: unset;
    --mark-bold-font-weight: 700;
    --mark-bold-text-decoration: unset;
    --mark-bold-background-color: unset;

    /* ==abc== : highlight */
    --mark-highlight-text-color: hsla(35, 100%, 45%, 1.0);
    --mark-highlight-font-style: unset;
    --mark-highlight-font-weight: unset;
    --mark-highlight-text-decoration: unset;
    --mark-highlight-background-color: hsla(45, 100%, 75%, 1.0);

    /* ++abc++ : masculine */
    --mark-masculine-text-color: var(--color-masculine);
    --mark-masculine-font-style: unset;
    --mark-masculine-font-weight: 700;
    --mark-masculine-text-decoration: unset;
    --mark-masculine-background-color: unset;

    /* ~~abc~~ : feminine */
    --mark-feminine-text-color: var(--color-feminine);
    --mark-feminine-font-style: unset;
    --mark-feminine-font-weight: 700;
    --mark-feminine-text-decoration: unset;
    --mark-feminine-background-color: unset;

}

/* ------------------------------------------------------------------------- */

anki-marker .accent {

    color: var(--mark-accent-text-color);
    font-style: var(--mark-accent-font-style);
    font-weight: var(--mark-accent-font-weight);
    text-decoration: var(--mark-accent-text-decoration);
    background-color: var(--mark-accent-background-color);
}

anki-marker .bold {

    color: var(--mark-bold-text-color);
    font-style: var(--mark-bold-font-style);
    font-weight: var(--mark-bold-font-weight);
    text-decoration: var(--mark-bold-text-decoration);
    background-color: var(--mark-bold-background-color);
}

anki-marker .highlight {

    color: var(--mark-highlight-text-color);
    font-style: var(--mark-highlight-font-style);
    font-weight: var(--mark-highlight-font-weight);
    text-decoration: var(--mark-highlight-text-decoration);
    background-color: var(--mark-highlight-background-color);
}

anki-marker .masculine {

    color: var(--mark-masculine-text-color);
    font-style: var(--mark-masculine-font-style);
    font-weight: var(--mark-masculine-font-weight);
    text-decoration: var(--mark-masculine-text-decoration);
    background-color: var(--mark-masculine-background-color);
}

anki-marker .feminine {

    color: var(--mark-feminine-text-color);
    font-style: var(--mark-feminine-font-style);
    font-weight: var(--mark-feminine-font-weight);
    text-decoration: var(--mark-feminine-text-decoration);
    background-color: var(--mark-feminine-background-color);
}
